<table 
*ngIf="getStdInfo.length > 0; else noStdData"
class="table table-bordered">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of getStdInfo; let i = index">
            <td>{{i + 1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
        </tr>
    </tbody>
</table>

<ng-template #noStdData>
    <p class="alert alert-info">No Student</p>
</ng-template>

