<div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" [(ngModel)]="fname" class="form-control" id="fname">
</div>
<div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" [(ngModel)]="lname"  class="form-control" id="fname">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" [(ngModel)]="email" class="form-control" id="fname">
</div>
<div class="form-group">
    <label for="contact">Contact</label>
    <input type="text" [(ngModel)]="contact" class="form-control" id="fname">
</div>

<button 
(click)="onStdAdd()"
class="btn btn-primary btn-sm btn-block">Add Student</button>
